:root {
    --main-color: #3A3A3A;
    --main-font-color: white;
}

.container{
  padding:0 8%;
}

h2{
  color: var(--main-font-color);
  background-color: var(--main-color);
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  padding: 10px;
}

a{
  color:white;
  text-decoration: none;
  font-weight: bold;
}
/*基本部分↑*/

/*ヘッダー部分↓*/
.header{
  background-color: var(--main-color);
  color: var(--main-font-color);
  height: 65px;
  font-weight: bold;
}

.header-logo img{
  height: 65px;
  float: left;
}

.header-logo{
  transition: all 0.7s ease;
}

.header-logo:hover{
  opacity: 0.5;
}

.header-list{
  float: right;
  font-size: 18px;
  line-height: 65px;
}

.header-list ul li{
  display: inline-block;
}

.header-list a{
  position: relative;
  padding: 5px;
  margin-left:18px
}

.header-list a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}

.header-list a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}
/*ヘッダー部分終わり↑*/
/*コンテンツ部分↓*/
  /*コンテンツバナー*/
.content{
  background-color: #EAEAEA;
  padding: 40px 0;
}

.banner{
  font-weight: bold;
  height: 800px;
  height: auto;
  color: var(--main-font-color);
  background-image: url(https://github.com/pegaro/amu/blob/master/top-banner.png?raw=true) ;
  margin-bottom: 40px;
  line-height: 1.5;
  padding: 40px 0 50px 0 ;
  text-align: center;
}

.banner-text-top{
  font-size: 48px;
  padding: 20px 0;
}

.banner-text-bottom{
  font-size: 30px;
  opacity: 0.9;
  margin-bottom: 50px;
}

.btn-top {
  font-size: 30px;
  position: relative;
  padding: 15px;
  background-color: red;
  border-radius: 4px;
  -webkit-transition: none;
  transition: all ease;
  box-shadow: 0 5px 0 #8F0E0E;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  opacity: 0.9;
}

.btn-top:hover {
  opacity: 1;
  top: -4px;
  box-shadow: 0 8px 0 #8F0E0E;
}

.btn-top:active {
  top: 4px;
  box-shadow: none;
}
  /*コンテンツバナー終了*/
    /*デモサイト一覧*/
.demos{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  text-align: center;
  margin-bottom: 20px;
}

.demo{
  position: relative;
  transition-duration: 0.5s;
  width:32%;
  margin-bottom: 20px;
}

.demo img{
  width: 100%;
  vertical-align: bottom;
}

.demo p{
  position: absolute;
  top:auto;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  background-color:black;
  opacity:0.7;
  font-size: 30px;
  color:white;
  font-weight: bold;
}

.demo:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
  opacity(0.3);
}
/*デモ一覧終わり*/
/*2カラム指定*/
.main-side{
  display: flex;
  justify-content:space-between;
}
/*メインバー*/
.main-bar{
  width: 66%;
}

.features{
  padding-bottom: 20px;
}

.feature,.customize{
  display: flex;
  margin-bottom: 20px;
}

.feature-box img{
  width: 32%;
}

.feature-box{
  display: flex;
  background-color: #FFFFD3;
  text-align: center;
  margin-bottom: 20px;
}

.main-bar p{
  font-size: 18px;
  line-height: 2.3;
  padding: 15px 15px 0 15px;
  text-align: left;
}

.main-bar a{
  padding: 10px;
  font-size: 24px;
  display: inline-block;
  margin-top: 9px;
  background-color: #EC6767;
  transition-duration: 0.5s;
  box-shadow: 0 3px 0 #8F0E0E;
}

.main-bar a:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
  opacity(0.3);
}

.customize-box img{
  width: 32%;
}

.customize-box{
  display: flex;
    background-color: #D3FFE6;
    text-align: center;
    margin-bottom: 20px;
}

.customize-box a{
  background-color: #007685;
  display: inline-block;
  box-shadow: 0 3px 0 #002E34;
}

/*サイドバー*/
.side-bar{
  width: 32%;
  text-align: center;
}

.side-bar  a{
  color:blue;
  text-decoration:underline;
  font-weight: normal;
}

.side-bar a:hover{
  text-decoration:none;
}

.origin,.profile{
  background-color: white;
  margin-bottom: 40px;
}

.origin img{
  width: 100%;
}

.profile-text,.origin-text{
  text-align: left;
  line-height: 30px;
  padding: 10px;
}

.profile img{
  width: 100%;
}

/*フッターここから*/
.footer{
  color: var(--main-font-color);
  background-color: var(--main-color);
  font-weight: bold;
}

.footer-main{
  display: flex;
  justify-content:space-between;
  padding: 30px 0;
}

.footer-left{
  width: 30%;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.footer-left p{
  text-align: left;
  margin-bottom: 40px;
}

.footer-left a{
  padding: 15px;
  background-color: red;
  font-size: 25px;
  border-radius: 4px;
  -webkit-transition: none;
  transition: all ease;
  box-shadow: 0 5px 0 #8F0E0E;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  opacity: 0.9;
}

.footer-left a:hover{
  opacity: 1;
  top: -4px;
}

.footer-left a:active {
  top: 4px;
  box-shadow: none;
}

.footer-center{
  width: 30%;
  font-size: 20px;
  line-height: 50px;
  margin-left: 30px;
  font-weight: normal;
}

.footer-center p{
  font-size: 30px;
  font-weight: bold;
}

.footer-center li{
  list-style: none;
}

.footer-right{
  width: 30%;
  font-size: 30px;
}

.footer-last{
  display: flex;
  justify-content:space-between;
  padding: 10px 0;
  border-top: 1px solid;
  font-weight: normal;
  font-size: 12px;
}

.last-left li{
  float: left;
  list-style-type: none;
}

.last-left a{
  font-weight: normal;
  font-size: 12px;
}
